body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    color: #4CAF50;
    margin-top: 50px;
}

p {
    font-size: 18px;
    margin-top: 20px;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}@charset "ISO-8859-1";